$color-darkestblue: #0c365a;
$color-darkblue: #325baf;
$color-lightblue: #edf3ff;
$color-extralightblue: #fafcff;
$color-skyblue: #23cefd;

$color-green: #01d167;
$color-lightgreen: #edfff5;

$color-lightgray: #aaaaaa;
$color-extralightgray: #dddddd;

$color-black: #222222;
$color-white: #ffffff;

$color-boxshadow: #00000014;
$color-border: #f5f5f5;
$color-greenborder: #ddffec;

$color-lightpink: #f251951a;

$md: 1024px;
